* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }


.bg-blue{
    background-color: #043263;
    position: fixed;
    width: 100%;
    padding: 10px ;
}
.letra{
    color: rgb(255, 255, 255);
}

.titulo{
    margin-top: 10%;
}

.botoni{
    width: 600px;
}
.btn-lights{
    background-color: rgb(228, 228, 228);
    width: 105px;
    height: 50px;
    border: none;
    color: #043263;
    
}

.cuadro-renta{
    margin-left: 0%;
    width: 600px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}
.renta{
    padding: 20px;
}
.monto{
    
    color: #004481;
    font-size: 42px;
    position: relative;
    padding-left: 17px;

}

.final-plazo{
color:#2c3e50 ;
}
.obtener-rentas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
}

.btn-continuar{
    background-color: rgb(93, 209, 255);
    border: none;
    width: 150px;
    height: 50px;
    color: white;
}

footer{
    background-color: #043263;
    color: white;
}

.footers{
    
    margin-left: 30px;
    font-size: small;
}
@media screen and (max-width: 400px) {
    .titulo{
        margin-top: 30%;
    width: 250px;
        flex-wrap: wrap;
    }
    .cuadro-renta{
        width: 350px; 
    }
    .imagen{
        display: none;
    }
    .tna{
        font-size: 10px;
    }
    .porcentaje{
        font-size: 15px;
    }
}